<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.ScheduleMapper">
<!--    要追加limit关键字，所以sql后边不写分号-->
    <select id="querylist" resultType="schedule">
        select * from schedule
    </select>
</mapper>